.left_panel {
    height: 75%;
    width: 250px;
    position: fixed;
    /*position: absolute;*/
    top: 80px;
    overflow-y: auto;
    /*bottom: 150px;*/
    background-color: var(--color-grey4);
    z-index: -1;
}

.left_panel::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.left_panel::-webkit-scrollbar {
    width: 8px;
    /*display: none;*/
    background-color: #F5F5F5;
}

.left_panel::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

.ring-container {
    position: relative;
    margin-right: 5px;
}

.circle {
    width: 16px;
    height: 16px;
    margin: 4px;
    background-color: rgba(255,0,0,0.81);
    border-radius: 50%;
}

.ringring {
    border: 3px solid rgba(255,0,0,0.81);
    -webkit-border-radius: 30px;
    height: 24px;
    width: 24px;
    position: absolute;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.0;
}

@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(0.1, 0.1);
        opacity: 0.0;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        -webkit-transform: scale(1.2, 1.2);
        opacity: 0.0;
    }
}

.cat1,
.cat2,
.cat3,
.cat4,
.cat5,
.cat6,
.cat7,
.cat8,
.cat9 {
    padding: 15px 10px 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-grey4);
}

.sub_cat1,
.sub_cat2 {
    display: flex;
    align-items: center;
}

.left_panel img,
.video_block .info_area img {
    background-color: ghostwhite;
    border: 1px solid ghostwhite;
    border-radius: 50%;
    padding: 5px;
    margin-right: 15px;
    width: 50px;
    height: 50px;
}

.left_panel a,
.video_block .sub_text .title {
    max-width: 70px;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    text-overflow: ellipsis;
    font-size: larger;
    color: var(--color-black);
}

.left_panel h4 {
    color: var(--color-black);
    font-size: medium;
}

.left_panel a:hover,
.video_block .sub_text .title:hover,
.video_block .sub_text .cat_name:hover {
    cursor: pointer;
    color: #1a1affe0;
}

.cat1:hover,
.cat2:hover,
.cat3:hover,
.cat4:hover,
.cat5:hover,
.cat6:hover,
.cat7:hover,
.cat8:hover,
.cat9:hover {
    background-color: var(--color-grey1);
    cursor: pointer;
}


.info_bottom {
    background-color: var(--color-grey4);
    position: fixed;
    left: 0;
    bottom: 0;
    height: 150px;
    width: 250px;
    border-top: 2px solid white;
    padding: 20px;
}

.inside_info {
    width: 210px;
    height: 110px;
    background-color: var(--color-grey1);
    border-radius: 4px;
    padding: 15px 25px;
}

.inside_info h4 {
    color: var(--color-black);
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;

}

.inside_info h4::selection,
.video_block .info_area div::selection {
    color: white;
    background-color: var(--color-yellow);

}

.inside_info .community {
    display: flex;
    justify-content: space-around;
}

.community .fa-facebook,
.community .fa-telegram,
.community .fa-instagram,
.community .fa-github {
    color: var(--color-black);
    font-size: x-large;
}

.community .fa-facebook:hover,
.community .fa-telegram:hover,
.community .fa-instagram:hover,
.community .fa-github:hover {
    color: #1a1affe0;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .left_panel {
        width: 80px;
        height: 100%;
    }
    .cat1,
    .cat2,
    .cat3,
    .cat4,
    .cat5,
    .cat6,
    .cat7,
    .cat8,
    .cat9 {
        padding: 10px 15px;
    }
    .left_panel img {
        margin: 0;
    }

    .left_panel .sub_cat1 a,
    .left_panel .sub_cat2{
        display: none;
    }

    .info_bottom {
        display: none;
    }
}
