.main_body {
    position: absolute;
    right: 0;
    left: 250px;
    top: 80px;
    bottom: 0;
    height: 90%;
    padding-right: 30px;
    background-color: ghostwhite;
    z-index: -1;
}

.horiz_scroll {
    margin-top: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.horiz_scroll::-webkit-scrollbar {
    display: none;
}

.horiz_scroll ul {
    margin-top: 15px;
    margin-bottom: 15px;
}

.horiz_scroll li {
    display: inline;
}

.horiz_scroll li a {
    margin: 10px;
    padding: 5px 15px;
    border: 1px solid var(--color-grey2);
    color: var(--color-black);
    border-radius: 20px;
    background-color: var(--color-grey4);
}

.horiz_scroll li a.selected {
    color: floralwhite;
    background-color: var(--color-yellow);
    border: 1px solid var(--color-yellow);
}

.horiz_scroll li a:hover {
    background-color: var(--color-grey1);
}

.video_block {
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 50px;
    background: whitesmoke;
    padding: 20px 0 30px 10px;
}

.video1 {
    display: table-column;
    align-items: center;
    flex: 1 30%;
    min-width: 300px;
    position: relative;
}

.video1 .preview,
.video1 .overlay {
    flex: 1;
    width: 100%;
    display: block;
}

.video1 .overlay {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.34);
    transition: opacity 0.25s;
}

.video1 .overlay:hover {
    opacity: 1
}

.video1 h3,
.video1 .preview_wrp .bottom_right {
    flex: 1;
    position: absolute;
    color: white;
    padding: 5px;
    border-radius: 3px;
    font-weight: normal;
    z-index: 1;
}

.video1 h3 {
    top: 5px;
    left: 5px;
    background-color: red;
}

.video1 .preview_wrp .bottom_right {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.57);
}

.video1 h3,
.video1 .preview_wrp .bottom_right {
    cursor: pointer;
}

.video1 .fa-paw {
    color: white;
    font-size: xxx-large;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video1 .fa-paw:hover {
    display: block;
    cursor: pointer;
}

.video1 .info_area {
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.preview_wrp {
    position: relative;
}

.sub_text div {
    display: inline-block;
    vertical-align: center;
    horiz-align: left;
    align-self: center;
    min-width: 300px;
}

.sub_text .cat_name {
    font-size: medium;
    color: rgb(138, 138, 138);
}

.info_area .fa-ellipsis-v {
    padding-left: 10px;
    padding-right: 10px;
}

.info_area img:hover,
.info_area .fa-ellipsis-v {
    cursor: pointer;
}

.footer {
    display: flex;
    padding: 30px;
    justify-content: center;
    color: var(--color-black);
    align-content: center;
}

.footer span {
    font-size: large;
    align-self: flex-end;
}

.footer .fa-youtube,
.footer .fa-heart {
    color: var(--color-black);
}

@media (max-width: 1200px) {
    .main_body {
        left: 80px;
        padding-right: 15px;
    }
}