.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    /*color: white;*/
    /*overflow: hidden;*/
    box-shadow: 0 0 6px 2px var(--color-black);
    padding-left: 30px;
    padding-right: 30px;
}

.header_logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo {
    margin-right: 10px;
    height: 60px;
    width: 60px;
}

.header_logo h3 {
    font-size: xx-large;
    font-weight: normal;
    color: var(--color-yellow);
}

.search_form {
    display: flex;
    width: 40%;
    align-items: center;
}

.search_form input[type=search] {
    height: 35px;
    min-width: 400px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--color-grey1);
    /*float: left;*/
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.search_form button {
    height: 35px;
    width: 50px;
    padding: 7px;
    background: rgb(239, 239, 239);
    color: white;
    font-size: 16px;
    border: 1px solid var(--color-grey1);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: none;
    cursor: pointer;
}

.search_form button:hover {
    background: var(--color-grey2);
}

.search_form input:focus {
    outline: none;
    border: 2px solid var(--color-grey3);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.search_form button .fa-search {
    font-size: larger;
    color: var(--color-black);
}

.header .fa-microphone {
    margin-left: 15px;
}

.header .fa-microphone,
.header_right .fa-bell {
    font-size: x-large;
    margin-right: 15px;
    color: var(--color-grey3);
}

.header .fa-microphone:hover,
.header_right .fa-bell:hover {
    cursor: pointer;
    color: rgb(121, 120, 121);
}

.header_right .fa-paw {
    font-size: x-large;
    padding: 10px;
    background-color: var(--color-yellow);
    border-radius: 50%;
}

.header_right .fa-paw:hover {
    background-color: rgb(239, 239, 239);
    cursor: pointer;
}

.header_right .menu:hover > .head_menu {
    display: block;
    cursor: pointer;
}

.header_right {
    display: flex;
    align-items: center;
}

.head_menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 30px;
    padding-top: 30px;
    min-width: 150px;
}

.head_menu ul {
    border-radius: 3px;
    box-shadow: 0 0 3px 1px var(--color-grey3);
    background-color: white;
}

.head_menu li {
    padding: 5px 10px 5px 5px;
    text-align: left;
    display: flex;
    align-items: center;
}

.head_menu li:last-of-type {
    border-top: 1px solid var(--color-grey2);
}

.head_menu li:hover {
    background-color: var(--color-grey1);
    cursor: pointer;
}

.head_menu .fa-paw,
.head_menu .fa-paw:hover {
    background-color: transparent;
}

.head_menu .fa-paw,
.head_menu .fa-cog,
.head_menu .fa-sign-out-alt {
    font-size: x-large;
    padding: 5px 8px;
    color: var(--color-black);
}

.head_menu .fa-sign-out-alt {
    color: orangered;
}

@media (max-width: 1200px) {
    .header{
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 940px){
    .search_form input[type=search] {
        min-width: 80px;
    }
}